.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom right,#0B65C6 50%,#105BAA 100%);
}

.herotext{
  width: 31%;
  color: white;
}

.title{
  font-size: 1.8rem;
  font-family: "rosinabold";
  padding-bottom: 20px;
}

.desc{
  font-size: .61rem;
  line-height: 1.8;
  padding-bottom: 20px;
  font-family: "trinidad_neue_regularregular";
}

.button{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: black;
  font-family: "rosinabold";
  padding: 11px 10px;
  border-radius: 5px;
  transition: all ease-in-out .3s;
}

.button:hover{
  background: black;
  color: white;
  padding-right: 3px;
}

.button p{
  font-size: .75rem;
}

.button svg{
  font-size: 1rem;
}

.img{
  width: 34%;
}

.img div{
  width: 100%;
  height: 500px;
  position: relative;
  object-fit: contain;
}


@media only screen and (max-width: 1100px) {

.herotext{
  width: 45%;
}

.img{
  width: 45%;
}

}


@media only screen and (max-width: 850px) {
.container{
  flex-direction: column;
  align-items: center;
}

.herotext{
  width: 500px;
  padding: 50px 40px;
}

.img{
  width: 100%;
}

.img div{
  width: 100%;
}

}

@media only screen and (max-width: 500px){
  
.herotext{
  width: 100%;
}


.title{
  font-size: 1.3rem;
}

.desc{
  font-size: .68rem;
  line-height: 1.8;
}

}